In [1]:
import pandas as pd
import requests
import time
from datetime import datetime, timedelta
import re
import sqlalchemy
import MetaTrader5 as mt

In [2]:
def get_realtime(ticker='EURUSD.i', tf='5m', initial_bar = 3000):
        count = 0
        
        while True:
                # global bars, df
                # bars = exchange.fetch_ohlcv(coin , timeframe = tf, limit = initial_bar)
                try:
                        #Fetch OHLCV
                        df = pd.DataFrame(mt.copy_rates_from_pos(ticker,  mt.TIMEFRAME_M5, 0, 99999  ) )

                        df.columns = ['datetime', 'open', 'high', 'low', 'close', 'tickvol', 'spread','real_volume']
                        df = df[['datetime', 'open', 'high', 'low', 'close', 'spread','tickvol']]
                        df['tickvol'] = df['tickvol'].astype('int')
                        df['datetime'] = pd.to_datetime(df['datetime'], unit='s') #+ pd.Timedelta( hours = 4)
                        
                        now = pd.Timestamp.now().floor('min')

                        tframe =  '5m'
                        tf_t = int( re.findall('[0-9]+', tframe)[0] )
                        now = now.replace(minute= int(now.minute / tf_t)*tf_t ,second= 0,microsecond =0 )
                        
                        try :
                                print(now)
                                # df.set_index('datetime').loc[ now ]
                                # df.set_index('datetime').loc[now]
                                print('Found the bar : ' + str(now))
                                break
                        
                        except KeyError:
                                
                                print('Not found the bar.')
                                count+=1
                                if count == 36:
                                        break
                                time.sleep(1-time.time()%1)
                except:
                        print('Fetching fail.')
                        # pass
                        time.sleep(1)

        return [df , ticker ,pd.to_datetime(now) ]

In [3]:
mt.initialize()

True

In [4]:
from sqlalchemy import create_engine

In [5]:
# Create an SQLite database engine
engine = create_engine('sqlite:///MT5_E8.db', echo=True)

# Convert dataframe to SQL table
def dataframe_to_sql(dataframe, table_name, engine):
    dataframe.to_sql(table_name, con=engine, if_exists='append', index=False)

In [6]:
# get all symbols
symbols=mt.symbols_get()
print('Symbols: ', len(symbols))
count=0
# display the first five ones
for s in symbols:
    df = get_realtime(ticker = str(s.name) )[0]
    dataframe_to_sql(df,  str(s.name) , engine)
    print( str(s.name) )

Symbols:  97
2023-06-27 19:25:00
Found the bar : 2023-06-27 19:25:00
2023-06-27 19:25:07,732 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-06-27 19:25:07,737 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("ASX200")
2023-06-27 19:25:07,738 INFO sqlalchemy.engine.Engine [raw sql] ()

2023-06-27 19:25:09,155 INFO sqlalchemy.engine.Engine INSERT INTO "ASX200" (datetime, open, high, low, close, spread, tickvol) VALUES (?, ?, ?, ?, ?, ?, ?)
2023-06-27 19:25:09,156 INFO sqlalchemy.engine.Engine [generated in 1.04284s] (('2021-11-16 20:20:00.000000', 7445.45, 7446.45, 7445.45, 7446.45, 80, 10), ('2021-11-16 20:25:00.000000', 7446.45, 7447.45, 7446.45, 7446.45, 80, 7), ('2021-11-16 20:30:00.000000', 7446.45, 7448.45, 7446.45, 7447.45, 80, 18), ('2021-11-16 20:35:00.000000', 7447.45, 7448.45, 7447.45, 7448.45, 80, 10), ('2021-11-16 20:40:00.000000', 7448.45, 7448.45, 7448.45, 7448.45, 80, 5), ('2021-11-16 20:45:00.000000', 7448.45, 7450.45, 7448.45, 7449.45, 80, 8), ('2021-11-16 20:50:00.000000', 7449.45, 7449.45, 7448.45, 7448.45, 80, 10), ('2021-11-16 20:55:00.000000', 7448.45, 7448.45, 7447.45, 7447.45, 80, 11)  ... displaying 10 of 99999 total bound parameter sets ...  ('2023-06-27 15:20:00.000000', 7104.71, 7104.71, 7102.71, 7104.71, 90, 27), ('2023-06-27 15:25:00.000000', 7104.71, 7104.71, 7103.71, 7103.71, 90, 2))
2023-06-27 19:25:09,396 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2023-06-27 19:25:09,397 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-06-27 19:25:09,399 INFO sqlalchemy.engine.Engine COMMIT
ASX200
2023-06-27 19:25:00
Found the bar : 2023-06-27 19:25:00
2023-06-27 19:25:09,456 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-06-27 19:25:09,459 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("EUSTX50")
2023-06-27 19:25:09,460 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-06-27 19:25:09,462 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("EUSTX50")
2023-06-27 19:25:09,463 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-06-27 19:25:09,466 INFO sqlalchemy.engine.Engine
CREATE TABLE "EUSTX50" (
	datetime DATETIME,
	open FLOAT,
	high FLOAT,
	low FLOAT,
	close FLOAT,
	spread INTEGER,
	tickvol INTEGER
)


2023-06-27 19:25:09,468 INFO sqlalchemy.engine.Engine [no key 0.00124s] ()
2023-06-27 19:25:10,556 INFO sqlalchemy.engine.Engine INSERT INTO "EUSTX50" (datetime, open, high, low, close, spread, tickvol) VALUES (?, ?, ?, ?, ?, ?, ?)
2023-06-27 19:25:10,557 INFO sqlalchemy.engine.Engine [generated in 0.86261s] (('2021-11-08 16:30:00.000000', 4367.01, 4368.51, 4365.51, 4367.51, 70, 63), ('2021-11-08 16:35:00.000000', 4367.51, 4369.51, 4367.01, 4368.01, 70, 42), ('2021-11-08 16:40:00.000000', 4368.01, 4368.51, 4367.01, 4367.51, 90, 79), ('2021-11-08 16:45:00.000000', 4367.01, 4367.51, 4366.01, 4366.51, 90, 55), ('2021-11-08 16:50:00.000000', 4367.01, 4368.01, 4366.51, 4367.01, 70, 32), ('2021-11-08 16:55:00.000000', 4367.51, 4367.51, 4364.51, 4366.01, 90, 64), ('2021-11-08 17:00:00.000000', 4366.51, 4366.51, 4363.01, 4363.51, 70, 35), ('2021-11-08 17:05:00.000000', 4363.51, 4366.01, 4363.51, 4363.51, 70, 33)  ... displaying 10 of 99999 total bound parameter sets ...  ('2023-06-27 15:20:00.000000', 4273.79, 4273.79, 4271.79, 4273.79, 140, 35), ('2023-06-27 15:25:00.000000', 4273.79, 4273.79, 4272.79, 4272.79, 140, 2))
2023-06-27 19:25:10,823 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2023-06-27 19:25:10,824 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-06-27 19:25:10,826 INFO sqlalchemy.engine.Engine COMMIT
EUSTX50
2023-06-27 19:25:00
Found the bar : 2023-06-27 19:25:00
2023-06-27 19:25:10,881 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-06-27 19:25:10,883 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("FRA40")
2023-06-27 19:25:10,885 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-06-27 19:25:10,888 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("FRA40")
2023-06-27 19:25:10,889 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-06-27 19:25:10,891 INFO sqlalchemy.engine.Engine
CREATE TABLE "FRA40" (
	datetime DATETIME,
	open FLOAT,
	high FLOAT,
	low FLOAT,
	close FLOAT,
	spread INTEGER,
	tickvol INTEGER
)


2023-06-27 19:25:10,893 INFO sqlalchemy.engine.Engine [no key 0.00116s] ()
2023-06-27 19:25:12,417 INFO sqlalchemy.engine.Engine INSERT INTO "FRA40" (datetime, open, high, low, close, spread, tickvol) VALUES (?, ?, ?, ?, ?, ?, ?)
2023-06-27 19:25:12,418 INFO sqlalchemy.engine.Engine [generated in 1.22152s] (('2021-02-26 20:30:00.000000', 5728.9, 5729.9, 5722.4, 5724.4, 20, 317), ('2021-02-26 20:35:00.000000', 5724.4, 5725.4, 5719.4, 5720.4, 50, 349), ('2021-02-26 20:40:00.000000', 5720.4, 5722.9, 5718.4, 5722.4, 50, 312), ('2021-02-26 20:45:00.000000', 5722.4, 5725.4, 5711.4, 5714.9, 50, 444), ('2021-02-26 20:50:00.000000', 5714.9, 5715.9, 5710.9, 5712.9, 70, 338), ('2021-02-26 20:55:00.000000', 5712.9, 5719.4, 5712.4, 5713.9, 30, 276), ('2021-02-26 21:00:00.000000', 5713.9, 5719.4, 5711.9, 5712.4, 50, 395), ('2021-02-26 21:05:00.000000', 5712.4, 5715.4, 5710.4, 5712.9, 50, 394)  ... displaying 10 of 99999 total bound parameter sets ...  ('2023-06-27 15:20:00.000000', 7164.26, 7164.26, 7160.26, 7163.76, 70, 89), ('2023-06-27 15:25:00.000000', 7163.76, 7163.76, 7162.76, 7163.26, 70, 3))
2023-06-27 19:25:12,684 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2023-06-27 19:25:12,686 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-06-27 19:25:12,688 INFO sqlalchemy.engine.Engine COMMIT
FRA40
2023-06-27 19:25:00
Found the bar : 2023-06-27 19:25:00
2023-06-27 19:25:12,742 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-06-27 19:25:12,745 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("GER30")
2023-06-27 19:25:12,746 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-06-27 19:25:12,748 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("GER30")
2023-06-27 19:25:12,749 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-06-27 19:25:12,753 INFO sqlalchemy.engine.Engine
CREATE TABLE "GER30" (
	datetime DATETIME,
	open FLOAT,
	high FLOAT,
	low FLOAT,
	close FLOAT,
	spread INTEGER,
	tickvol INTEGER
)


2023-06-27 19:25:12,753 INFO sqlalchemy.engine.Engine [no key 0.00138s] ()
2023-06-27 19:25:14,036 INFO sqlalchemy.engine.Engine INSERT INTO "GER30" (datetime, open, high, low, close, spread, tickvol) VALUES (?, ?, ?, ?, ?, ?, ?)
2023-06-27 19:25:14,037 INFO sqlalchemy.engine.Engine [generated in 1.04318s] (('2021-11-08 21:50:00.000000', 16041.02, 16041.02, 16037.52, 16037.52, 230, 41), ('2021-11-08 21:55:00.000000', 16037.52, 16042.02, 16037.02, 16042.02, 230, 49), ('2021-11-09 02:15:00.000000', 16015.77, 16017.17, 16009.17, 16009.27, 350, 60), ('2021-11-09 02:20:00.000000', 16009.27, 16019.17, 16009.27, 16017.27, 350, 54), ('2021-11-09 02:25:00.000000', 16017.17, 16017.27, 16012.17, 16014.27, 350, 64), ('2021-11-09 02:30:00.000000', 16014.27, 16016.27, 16008.27, 16008.77, 350, 46), ('2021-11-09 02:35:00.000000', 16010.27, 16013.27, 16007.27, 16011.17, 350, 48), ('2021-11-09 02:40:00.000000', 16011.17, 16012.27, 16010.17, 16010.27, 340, 27)  ... displaying 10 of 99999 total bound parameter sets ...  ('2023-06-27 15:20:00.000000', 15763.9, 15763.9, 15751.75, 15759.75, 150, 158), ('2023-06-27 15:25:00.000000', 15759.75, 15759.75, 15757.75, 15758.75, 150, 6))
2023-06-27 19:25:14,340 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2023-06-27 19:25:14,341 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-06-27 19:25:14,343 INFO sqlalchemy.engine.Engine COMMIT
GER30
2023-06-27 19:25:00
Found the bar : 2023-06-27 19:25:00
2023-06-27 19:25:14,403 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-06-27 19:25:14,406 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("NDX100")
2023-06-27 19:25:14,407 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-06-27 19:25:14,409 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("NDX100")
2023-06-27 19:25:14,410 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-06-27 19:25:14,415 INFO sqlalchemy.engine.Engine
CREATE TABLE "NDX100" (
	datetime DATETIME,
	open FLOAT,
	high FLOAT,
	low FLOAT,
	close FLOAT,
	spread INTEGER,
	tickvol INTEGER
)


2023-06-27 19:25:14,417 INFO sqlalchemy.engine.Engine [no key 0.00156s] ()
2023-06-27 19:25:15,924 INFO sqlalchemy.engine.Engine INSERT INTO "NDX100" (datetime, open, high, low, close, spread, tickvol) VALUES (?, ?, ?, ?, ?, ?, ?)
2023-06-27 19:25:15,924 INFO sqlalchemy.engine.Engine [generated in 1.15807s] (('2022-01-27 17:55:00.000000', 14237.13, 14312.25, 14237.13, 14302.0, 73, 380), ('2022-01-27 18:00:00.000000', 14302.0, 14357.25, 14302.0, 14333.25, 30, 389), ('2022-01-27 18:05:00.000000', 14332.13, 14352.88, 14287.0, 14300.75, 30, 396), ('2022-01-27 18:10:00.000000', 14304.13, 14349.0, 14298.63, 14341.38, 30, 394), ('2022-01-27 18:15:00.000000', 14340.75, 14340.75, 14272.38, 14295.88, 30, 398), ('2022-01-27 18:20:00.000000', 14293.13, 14317.0, 14278.0, 14284.88, 30, 402), ('2022-01-27 18:25:00.000000', 14285.25, 14288.38, 14236.0, 14256.88, 30, 389), ('2022-01-27 18:30:00.000000', 14256.75, 14320.38, 14250.0, 14319.63, 30, 399)  ... displaying 10 of 99999 total bound parameter sets ...  ('2023-06-27 15:20:00.000000', 14739.7, 14739.7, 14732.83, 14736.45, 140, 291), ('2023-06-27 15:25:00.000000', 14736.33, 14736.33, 14734.33, 14735.35, 140, 15))
2023-06-27 19:25:16,184 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2023-06-27 19:25:16,185 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-06-27 19:25:16,187 INFO sqlalchemy.engine.Engine COMMIT
NDX100
2023-06-27 19:25:00
Found the bar : 2023-06-27 19:25:00
2023-06-27 19:25:16,246 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-06-27 19:25:16,249 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("UK100")
2023-06-27 19:25:16,250 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-06-27 19:25:16,251 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("UK100")
2023-06-27 19:25:16,252 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-06-27 19:25:16,255 INFO sqlalchemy.engine.Engine
CREATE TABLE "UK100" (
	datetime DATETIME,
	open FLOAT,
	high FLOAT,
	low FLOAT,
	close FLOAT,
	spread INTEGER,
	tickvol INTEGER
)


2023-06-27 19:25:16,256 INFO sqlalchemy.engine.Engine [no key 0.00084s] ()
2023-06-27 19:25:17,440 INFO sqlalchemy.engine.Engine INSERT INTO "UK100" (datetime, open, high, low, close, spread, tickvol) VALUES (?, ?, ?, ?, ?, ?, ?)
2023-06-27 19:25:17,441 INFO sqlalchemy.engine.Engine [generated in 0.94633s] (('2021-10-22 16:50:00.000000', 7228.49, 7232.37, 7228.24, 7230.74, 120, 253), ('2021-10-22 16:55:00.000000', 7230.49, 7234.99, 7230.49, 7234.49, 120, 211), ('2021-10-22 17:00:00.000000', 7234.49, 7234.74, 7227.74, 7227.99, 120, 207), ('2021-10-22 17:05:00.000000', 7227.99, 7232.74, 7227.49, 7231.49, 120, 190), ('2021-10-22 17:10:00.000000', 7231.99, 7233.49, 7230.99, 7230.99, 120, 193), ('2021-10-22 17:15:00.000000', 7231.49, 7233.99, 7230.99, 7233.49, 120, 160), ('2021-10-22 17:20:00.000000', 7233.49, 7235.37, 7233.24, 7234.49, 120, 82), ('2021-10-22 17:25:00.000000', 7234.24, 7234.49, 7231.49, 7232.99, 120, 120)  ... displaying 10 of 99999 total bound parameter sets ...  ('2023-06-27 15:20:00.000000', 7440.1, 7440.1, 7436.1, 7439.98, 120, 148), ('2023-06-27 15:25:00.000000', 7440.1, 7440.1, 7438.35, 7438.6, 120, 13))
2023-06-27 19:25:17,679 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2023-06-27 19:25:17,680 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-06-27 19:25:17,682 INFO sqlalchemy.engine.Engine COMMIT
UK100
2023-06-27 19:25:00
Found the bar : 2023-06-27 19:25:00
2023-06-27 19:25:17,725 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-06-27 19:25:17,727 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("US30")
2023-06-27 19:25:17,729 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-06-27 19:25:17,731 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("US30")
2023-06-27 19:25:17,732 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-06-27 19:25:17,735 INFO sqlalchemy.engine.Engine
CREATE TABLE "US30" (
	datetime DATETIME,
	open FLOAT,
	high FLOAT,
	low FLOAT,
	close FLOAT,
	spread INTEGER,
	tickvol INTEGER
)


2023-06-27 19:25:17,736 INFO sqlalchemy.engine.Engine [no key 0.00079s] ()
2023-06-27 19:25:19,054 INFO sqlalchemy.engine.Engine INSERT INTO "US30" (datetime, open, high, low, close, spread, tickvol) VALUES (?, ?, ?, ?, ?, ?, ?)
2023-06-27 19:25:19,055 INFO sqlalchemy.engine.Engine [generated in 1.04798s] (('2022-01-27 18:10:00.000000', 34607.03, 34693.03, 34599.03, 34679.53, 25, 354), ('2022-01-27 18:15:00.000000', 34678.03, 34678.03, 34535.53, 34586.03, 25, 369), ('2022-01-27 18:20:00.000000', 34583.53, 34617.03, 34532.03, 34556.03, 25, 374), ('2022-01-27 18:25:00.000000', 34556.53, 34563.03, 34496.03, 34542.03, 25, 370), ('2022-01-27 18:30:00.000000', 34540.03, 34641.03, 34534.53, 34629.53, 25, 376), ('2022-01-27 18:35:00.000000', 34629.53, 34668.03, 34600.53, 34611.03, 25, 345), ('2022-01-27 18:40:00.000000', 34611.53, 34663.53, 34600.53, 34613.53, 25, 350), ('2022-01-27 18:45:00.000000', 34618.53, 34661.03, 34615.03, 34626.53, 25, 332)  ... displaying 10 of 99999 total bound parameter sets ...  ('2023-06-27 15:20:00.000000', 33667.59, 33667.59, 33657.09, 33664.09, 160, 165), ('2023-06-27 15:25:00.000000', 33664.09, 33664.09, 33662.09, 33663.34, 160, 11))
2023-06-27 19:25:19,284 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2023-06-27 19:25:19,285 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-06-27 19:25:19,287 INFO sqlalchemy.engine.Engine COMMIT
US30
2023-06-27 19:25:00
Found the bar : 2023-06-27 19:25:00
2023-06-27 19:25:19,334 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-06-27 19:25:19,336 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("SPX500")
2023-06-27 19:25:19,337 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-06-27 19:25:19,338 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("SPX500")
2023-06-27 19:25:19,340 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-06-27 19:25:19,343 INFO sqlalchemy.engine.Engine
CREATE TABLE "SPX500" (
	datetime DATETIME,
	open FLOAT,
	high FLOAT,
	low FLOAT,
	close FLOAT,
	spread INTEGER,
	tickvol INTEGER
)


2023-06-27 19:25:19,344 INFO sqlalchemy.engine.Engine [no key 0.00100s] ()
2023-06-27 19:25:20,412 INFO sqlalchemy.engine.Engine INSERT INTO "SPX500" (datetime, open, high, low, close, spread, tickvol) VALUES (?, ?, ?, ?, ?, ?, ?)
2023-06-27 19:25:20,413 INFO sqlalchemy.engine.Engine [generated in 0.85929s] (('2022-01-27 02:40:00.000000', 4354.77, 4355.77, 4350.02, 4352.64, 58, 220), ('2022-01-27 02:45:00.000000', 4352.64, 4354.52, 4350.27, 4351.39, 58, 200), ('2022-01-27 02:50:00.000000', 4351.77, 4356.02, 4347.02, 4347.02, 58, 217), ('2022-01-27 02:55:00.000000', 4346.77, 4348.27, 4340.02, 4340.77, 58, 244), ('2022-01-27 03:00:00.000000', 4341.02, 4343.02, 4330.77, 4333.52, 58, 286), ('2022-01-27 03:05:00.000000', 4333.02, 4334.52, 4321.02, 4323.64, 58, 294), ('2022-01-27 03:10:00.000000', 4323.64, 4331.52, 4323.39, 4325.77, 58, 280), ('2022-01-27 03:15:00.000000', 4326.02, 4328.27, 4309.77, 4314.64, 58, 311)  ... displaying 10 of 99999 total bound parameter sets ...  ('2023-06-27 15:20:00.000000', 4334.89, 4334.89, 4333.39, 4334.39, 53, 66), ('2023-06-27 15:25:00.000000', 4334.39, 4334.39, 4333.89, 4334.39, 53, 5))
2023-06-27 19:25:20,719 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2023-06-27 19:25:20,720 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-06-27 19:25:20,722 INFO sqlalchemy.engine.Engine COMMIT
SPX500
2023-06-27 19:25:00
Found the bar : 2023-06-27 19:25:00
2023-06-27 19:25:20,772 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-06-27 19:25:20,773 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("HK50")
2023-06-27 19:25:20,774 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-06-27 19:25:20,776 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("HK50")
2023-06-27 19:25:20,777 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-06-27 19:25:20,779 INFO sqlalchemy.engine.Engine
CREATE TABLE "HK50" (
	datetime DATETIME,
	open FLOAT,
	high FLOAT,
	low FLOAT,
	close FLOAT,
	spread INTEGER,
	tickvol INTEGER
)


2023-06-27 19:25:20,780 INFO sqlalchemy.engine.Engine [no key 0.00128s] ()
2023-06-27 19:25:22,281 INFO sqlalchemy.engine.Engine INSERT INTO "HK50" (datetime, open, high, low, close, spread, tickvol) VALUES (?, ?, ?, ?, ?, ?, ?)
2023-06-27 19:25:22,282 INFO sqlalchemy.engine.Engine [generated in 1.17473s] (('2021-05-04 20:30:00.000000', 28252.2, 28255.2, 28238.2, 28245.2, 750, 71), ('2021-05-04 20:35:00.000000', 28245.2, 28254.2, 28245.2, 28250.2, 660, 63), ('2021-05-04 20:40:00.000000', 28250.2, 28251.2, 28230.2, 28239.2, 660, 79), ('2021-05-04 20:45:00.000000', 28239.2, 28252.2, 28228.2, 28248.2, 500, 83), ('2021-05-04 20:50:00.000000', 28248.2, 28248.2, 28223.2, 28225.2, 750, 30), ('2021-05-04 20:55:00.000000', 28219.2, 28246.2, 28219.2, 28232.2, 650, 63), ('2021-05-04 21:00:00.000000', 28226.2, 28230.2, 28216.2, 28228.2, 660, 75), ('2021-05-04 21:05:00.000000', 28240.2, 28251.2, 28232.2, 28249.2, 660, 39)  ... displaying 10 of 99999 total bound parameter sets ...  ('2023-06-27 15:20:00.000000', 19097.95, 19102.95, 19095.95, 19100.95, 660, 84), ('2023-06-27 15:25:00.000000', 19099.95, 19099.95, 19096.95, 19098.95, 660, 7))
2023-06-27 19:25:22,544 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2023-06-27 19:25:22,545 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-06-27 19:25:22,547 INFO sqlalchemy.engine.Engine COMMIT
HK50
2023-06-27 19:25:00
Found the bar : 2023-06-27 19:25:00
2023-06-27 19:25:22,605 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-06-27 19:25:22,607 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("JPN225")
2023-06-27 19:25:22,608 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-06-27 19:25:22,610 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("JPN225")
2023-06-27 19:25:22,611 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-06-27 19:25:22,615 INFO sqlalchemy.engine.Engine
CREATE TABLE "JPN225" (
	datetime DATETIME,
	open FLOAT,
	high FLOAT,
	low FLOAT,
	close FLOAT,
	spread INTEGER,
	tickvol INTEGER
)


2023-06-27 19:25:22,615 INFO sqlalchemy.engine.Engine [no key 0.00081s] ()
2023-06-27 19:25:24,169 INFO sqlalchemy.engine.Engine INSERT INTO "JPN225" (datetime, open, high, low, close, spread, tickvol) VALUES (?, ?, ?, ?, ?, ?, ?)
2023-06-27 19:25:24,170 INFO sqlalchemy.engine.Engine [generated in 1.21807s] (('2022-01-21 11:55:00.000000', 27673.37, 27678.37, 27663.37, 27663.37, 600, 62), ('2022-01-21 12:00:00.000000', 27663.37, 27668.37, 27640.87, 27643.37, 600, 52), ('2022-01-21 12:05:00.000000', 27643.37, 27658.37, 27638.37, 27648.37, 600, 51), ('2022-01-21 12:10:00.000000', 27653.37, 27658.37, 27643.37, 27648.37, 600, 48), ('2022-01-21 12:15:00.000000', 27648.37, 27690.87, 27648.37, 27688.37, 600, 89), ('2022-01-21 12:20:00.000000', 27688.37, 27698.37, 27683.37, 27683.37, 600, 61), ('2022-01-21 12:25:00.000000', 27683.37, 27690.87, 27680.87, 27688.37, 600, 64), ('2022-01-21 12:30:00.000000', 27688.37, 27688.37, 27663.37, 27668.37, 600, 69)  ... displaying 10 of 99999 total bound parameter sets ...  ('2023-06-27 15:20:00.000000', 32512.33, 32517.33, 32497.33, 32512.33, 700, 71), ('2023-06-27 15:25:00.000000', 32514.83, 32517.33, 32512.33, 32517.33, 700, 4))
2023-06-27 19:25:24,437 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2023-06-27 19:25:24,438 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-06-27 19:25:24,439 INFO sqlalchemy.engine.Engine COMMIT
JPN225
2023-06-27 19:25:00
Found the bar : 2023-06-27 19:25:00
2023-06-27 19:25:24,495 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-06-27 19:25:24,498 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("UKOUSD")
2023-06-27 19:25:24,499 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-06-27 19:25:24,501 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("UKOUSD")
2023-06-27 19:25:24,503 INFO sqlalchemy.engine.Engine [raw sql] ()